*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /* outline: 1px solid black; */
  /* box-sizing: border-box; */
}


body {
    background-color:rgb(0, 88, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 960px;
    max-height: 960px;
    min-width: 960px;
    min-height: 960px;
    outline: 2px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    background-color: antiquewhite;
    /* flex: 0 0 auto; */
    /* align-items: stretch; */
}

.square {
    box-sizing: border-box;
    outline: solid 1px grey;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.nav-bar {
    min-height: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.navBtn {
    font-family: 'Inter', 'sans-serif';
    font-size:medium;
    font-weight: 700;
    padding: 15px 20px;
    background-color: rgb(255, 183, 77);
    color: rgb(16, 36, 56);
    border-radius: 25px;
}